* {
    margin: 0;
    padding: 0;
}


.nav {
    background-image: linear-gradient(to right, red, yellow);
}

.card {
    text-align: center;
}

span {
    margin: 20px;
}

 





