* {
    margin: 0;
    padding: 0;
}


.nav {
    background-image: linear-gradient(to right, red, yellow);
}

.card {
    text-align: center;
}

#stopButton {
    height: 74px;
    width: 74px;
    background-color:orangered;
}

#pauseButton {
    height: 74px;
    border-style: double;
    border-width: 0px 0px 0px 37px;
    border-color: orange;
    float: left;
    margin: 5%;
}


